.racino-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 300px;
}
.racino-button--primary:hover {
  background-color: #df487f
}
.racino-button--secondary:hover {
  background-color: #9599a1
}
.racino-button--success:hover {
  background-color: #4fc5ba
}

.racino-button--primary.racino-button--bordered {
  border: 1px solid #d81c60;
  background-color: #4e5561;
}
.racino-button--primary.racino-button--bordered:hover {
  border: 1px solid #a9577a;
  background-color: #626873;
}
.racino-button--primary.racino-button--bordered:disabled {
  border: 1px solid #763a5a;
  background-color: #474d5a;
}
.racino-button--primary.racino-button--link {
  color: #ce1d5e;
  background-color: #ffffff00;
}
.racino-button--primary.racino-button--link:hover {
  color: #d4477c;
  text-decoration-line: underline;
  background-color: #ffffff00;
}
.racino-button--primary.racino-button--link:disabled {
  color: #942a59;
  background-color: #ffffff00;
}
.racino-button--secondary.racino-button--bordered {
  border: 1px solid #9599a1;
  background-color: #404755;
}
.racino-button--secondary.racino-button--bordered:hover {
  border: 1px solid #c1c2c7;
  background-color: #626873;
}
.racino-button--secondary.racino-button--bordered:disabled {
  border: 1px solid #717680;
  background-color: #474d5a;
}
.racino-button--secondary.racino-button--link {
  color: #d8d9dc;
  background-color: #ffffff00;
}
.racino-button--secondary.racino-button--link:hover {
  color: #eeefef;
  text-decoration-line: underline;
  background-color: #ffffff00;
}
.racino-button--secondary.racino-button--link:disabled {
  color: #3b4250;
  background-color: #ffffff00;
}
.racino-button--success.racino-button--bordered {
  border: 1px solid #d81c60;
  background-color: #d81c60;
}

.racino-button--primary {
  color: #fff;
  background-color: #d81c60;
}
.racino-button--primary:disabled {
  background-color: #9a295a;
}
.racino-button--secondary {
  color: #000;
  background-color: #d8d9dc;
}
.racino-button--success {
  color: #fff;
  background-color: #26a69a;
}
.racino-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.racino-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.racino-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
